.card{
    border: 1px solid #000;
    width: 50%;
    margin: 0 auto;
    margin-bottom: 10px;
    background-color: crimson;
}

.card p{
    font-family: 'Times New Roman', Times, serif;
    color: #fff;
    border: 1px solid #000;
    margin: 5px 40%;
    padding: 10px;
}

.card h3{
    color: #fff;
    font-family: 'Times New Roman', Times, serif;
    text-transform:capitalize;
}